@import 'all';
$appBarHeight: 48px;

.main-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  .app-bar {
    height: $appBarHeight;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: $barColor;
    -webkit-app-region: drag; // Electron window drag
    .section {
      width: 100%;
      &.center {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      &.right {
        -webkit-app-region: no-drag; // Electron window drag
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .window-button {
          background: $barColor;
          width: $appBarHeight;
          height: $appBarHeight;
          display: flex;
          justify-content: center;
          align-items: center;
          &:hover {
            background: $barColorHover;
            &.close {
              background: $barColorHoverClose;
            }
          }
        }
      }
    }
  }
  .main-content {
    height: calc(100% - $appBarHeight);
  }
}
