:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
mat-toolbar {
  display: flex;
  .spacer {
    flex: 1 1 auto;
  }
  height: 56px;
}
rtfx-common-entry {
  height: calc(100% - 56px);
}
