$appBarHeight: 48px;
@import 'theme';

.main-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  .app-bar {
    height: $appBarHeight;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: $barColor;
    user-select: none;
    -webkit-app-region: drag; // Electron window drag
    .section {
      width: 100%;
      &.center {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      &.right {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .window-button {
          outline: none;
          -webkit-app-region: no-drag; // Electron window drag
          background: $barColor;
          width: $appBarHeight;
          height: $appBarHeight;
          display: flex;
          justify-content: center;
          align-items: center;
          border: none;
          color: $colorFontPrimary;
          &:focus {
            box-shadow: 0 0 0 3px $barColorHover inset;
            z-index: 1;
          }
          &:hover {
            background: $barColorHover;
            &.close {
              background: $barColorHoverClose;
            }
          }
        }
      }
    }
  }
  .main-content {
    height: calc(100% - $appBarHeight);
  }
}
