$colorFontPrimary: rgb(221, 221, 221);
$colorFontSecondary: rgb(142 142 142);

$barColor: rgb(50 50 51);
$barColorHover: rgb(71 71 72);
$barColorHoverClose: rgb(215 21 38);

// https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@include mat.core();

$my-primary: mat.define-palette(mat.$pink-palette, 500);
$my-accent: mat.define-palette(mat.$blue-gray-palette, A200, A100, A400);
$my-warn: mat.define-palette(mat.$red-palette);

$my-theme: mat.define-dark-theme(
  (
    color: (
      primary: $my-primary,
      accent: $my-accent,
      warn: $my-warn
    ),
    typography: mat.define-typography-config(),
    density: 0
  )
);

@include mat.all-component-themes($my-theme);

// $color-config: mat.get-color-config($theme);
// $primary-palette: map.get($color-config, 'primary');
// $accent-palette: map.get($color-config, 'accent');
// $warn-palette: map.get($color-config, 'warn');
// $is-dark-theme: map.get($color-config, 'is-dark');
